black==25.1.0
├── click [required: >=8.0.0, installed: 8.1.8]
├── mypy_extensions [required: >=0.4.3, installed: 1.1.0]
├── packaging [required: >=22.0, installed: 25.0]
├── pathspec [required: >=0.9.0, installed: 0.12.1]
└── platformdirs [required: >=2, installed: 4.3.7]
mypy==1.15.0
├── typing_extensions [required: >=4.6.0, installed: 4.13.2]
└── mypy_extensions [required: >=1.0.0, installed: 1.1.0]
pipdeptree==2.26.1
├── packaging [required: >=24.1, installed: 25.0]
└── pip [required: >=24.2, installed: 25.0.1]
pre_commit==4.2.0
├── cfgv [required: >=2.0.0, installed: 3.4.0]
├── identify [required: >=1.0.0, installed: 2.6.10]
├── nodeenv [required: >=0.11.1, installed: 1.9.1]
├── PyYAML [required: >=5.1, installed: 6.0.2]
└── virtualenv [required: >=20.10.0, installed: 20.30.0]
    ├── distlib [required: >=0.3.7,<1, installed: 0.3.9]
    ├── filelock [required: >=3.12.2,<4, installed: 3.18.0]
    └── platformdirs [required: >=3.9.1,<5, installed: 4.3.7]
pylint==3.3.6
├── astroid [required: >=3.3.8,<=3.4.0.dev0, installed: 3.3.9]
├── dill [required: >=0.3.6, installed: 0.4.0]
├── dill [required: >=0.3.7, installed: 0.4.0]
├── isort [required: >=4.2.5,<7,!=5.13, installed: 6.0.1]
├── mccabe [required: >=0.6,<0.8, installed: 0.7.0]
├── platformdirs [required: >=2.2, installed: 4.3.7]
└── tomlkit [required: >=0.10.1, installed: 0.13.2]
setuptools==80.1.0
