astroid==3.0.2
black==23.12.1
cfgv==3.4.0
click==8.1.6
dill==0.3.7
distlib==0.3.8
filelock==3.13.1
identify==2.5.34
isort==5.13.2
mccabe==0.7.0
mypy==1.8.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.2
pathspec==0.12.1
pipdeptree==2.13.2
platformdirs==4.0.0
pre-commit==3.6.0
pylint==3.0.3
PyYAML==6.0.1
setuptools==80.1.0
tomlkit==0.12.3
typing_extensions==4.9.0
virtualenv==20.25.0
