astroid==3.3.9
black==25.1.0
cfgv==3.4.0
click==8.1.8
dill==0.4.0
distlib==0.3.9
filelock==3.18.0
identify==2.6.10
isort==6.0.1
mccabe==0.7.0
mypy==1.15.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pipdeptree==2.26.1
platformdirs==4.3.7
pre_commit==4.2.0
pylint==3.3.6
PyYAML==6.0.2
setuptools==80.1.0
tomlkit==0.13.2
typing_extensions==4.13.2
virtualenv==20.30.0
